app:
  name: 'potato'
  version: '1.0.0'
  domain: '127.0.0.1'
  jwt_secret: 'viletyy'
  jwt_expire: '7200'
  run_mode: 'debug'
  default_context_timeout: 60
  page_size: 10
  upload_save_path: 'tmp/uploads'
  upload_server_path: '/static'
  upload_image_max_size: 5 # MB
  upload_image_allow_exts: ['.jpg','.jpeg','.png']
server: 
  port: 8000
  read_timeout: 60 
  write_timeout: 60 
  tracer_host_port: '127.0.0.1:6831'
email:
  host: 'smtp.163.com'
  port: 465
  username: 'ceshi'
  password: '123456'
  is_ssl: true 
  from: 'yystopf@163.com'
  to: ['yystopf@163.com']
database: 
  type: 'postgresql'
  user: 'root'
  password: '123456'
  host: '127.0.0.1'
  port: 5432
  name: 'potato'
  table_prefix: 'p_'
redis: 
  host: '127.0.0.1'
  port: '6379'
  password: ''
  db: 1
zap:
  level: 'info'
  format: 'console'
  prefix: '[POTATO]'
  director: 'tmp/log'
  link-name: 'latest_log'
  show-line: true
  encode-level: 'LowercaseColorLevelEncoder'
  stacktrace-key: 'stacktrace'
  log-in-console: true